In [3]:
import pandas as pd

In [2]:
# There are two kinds of sorting available in Pandas
# They are:
# By label, By Actual Value

In [3]:
import numpy as np

In [4]:
unsorted_df = pd. DataFrame(np.random. randn(10,2), index = [1,4,6,2,3,5,9,8,0,7], columns= ['col2', 'col1'])

In [5]:
print(unsorted_df)

       col2      col1
1  0.094201 -0.202950
4  0.288105 -2.674258
6  0.741878 -0.174268
2  0.215249  1.991222
3 -0.996177 -0.098014
5  0.292552  0.882538
9  1.652173  1.012273
8 -0.310978  0.928314
0 -0.643322  0.890376
7  0.669645 -0.355818

In [6]:
# The labels which are columns and row indices are unsorted. axis = 0 is sort by row, axis = 1 is sort by column
# We can use sort_index method with the dataframe to sort the labels

In [7]:
sorted_df = unsorted_df.sort_index()

In [9]:
print (sorted_df)

       col2      col1
0 -0.643322  0.890376
1  0.094201 -0.202950
2  0.215249  1.991222
3 -0.996177 -0.098014
4  0.288105 -2.674258
5  0.292552  0.882538
6  0.741878 -0.174268
7  0.669645 -0.355818
8 -0.310978  0.928314
9  1.652173  1.012273

In [10]:
# We have the indices sorted

In [11]:
# Order of sorting Ascending or Descending. By default ascending is set to True. We could set this to False.

In [13]:
sorted_df2 = unsorted_df.sort_index(ascending = False)

In [14]:
print(sorted_df2)

       col2      col1
9  1.652173  1.012273
8 -0.310978  0.928314
7  0.669645 -0.355818
6  0.741878 -0.174268
5  0.292552  0.882538
4  0.288105 -2.674258
3 -0.996177 -0.098014
2  0.215249  1.991222
1  0.094201 -0.202950
0 -0.643322  0.890376

In [15]:
# Sorting by axis. Rows = axis 0, columns = axis 1

In [16]:
unsorted_df

       col2      col1
1  0.094201 -0.202950
4  0.288105 -2.674258
6  0.741878 -0.174268
2  0.215249  1.991222
3 -0.996177 -0.098014
5  0.292552  0.882538
9  1.652173  1.012273
8 -0.310978  0.928314
0 -0.643322  0.890376
7  0.669645 -0.355818

In [17]:
sorted_df3 = unsorted_df.sort_index(axis = 1)

In [18]:
print(sorted_df3)

       col1      col2
1 -0.202950  0.094201
4 -2.674258  0.288105
6 -0.174268  0.741878
2  1.991222  0.215249
3 -0.098014 -0.996177
5  0.882538  0.292552
9  1.012273  1.652173
8  0.928314 -0.310978
0  0.890376 -0.643322
7 -0.355818  0.669645

#### Sort by values

In [5]:
unsorted_df_2 = pd.DataFrame({'col1': [2,1,2,3,4], 'col2': [5,2,5,2,2]})

In [20]:
unsorted_df_2

   col1  col2
0     2     5
1     1     2
2     2     5
3     3     2
4     4     2

In [21]:
sorted_df_4 = unsorted_df_2.sort_values(by='col1')

In [22]:
sorted_df_4

   col1  col2
1     1     2
0     2     5
2     2     5
3     3     2
4     4     2

In [25]:
sorted_df5 = unsorted_df_2.sort_values(by='col2')

In [26]:
print(sorted_df5)

   col1  col2
1     1     2
3     3     2
4     4     2
0     2     5
2     2     5

In [27]:
# Sorting by multiple columns. by takes a list as an input.

In [28]:
sorted_df6 = unsorted_df_2.sort_values(by=['col1','col2'])

In [29]:
sorted_df6

   col1  col2
1     1     2
0     2     5
2     2     5
3     3     2
4     4     2

In [30]:
# Sorting Algorithms: Pandas has 'megesort','quicksort','heapsort', default being quicksort

In [6]:
sorted_df7 = unsorted_df_2.sort_values(by='col1', kind = 'megesort')

In [7]:
sorted_df8 = unsorted_df_2.sort_values(by='col1', kind = 'quicksort')

In [8]:
sorted_df9 = unsorted_df_2.sort_values(by = 'col1', kind = 'heapsort')

In [9]:
print(sorted_df7, sorted_df8, sorted_df9)

   col1  col2
1     1     2
0     2     5
2     2     5
3     3     2
4     4     2    col1  col2
1     1     2
0     2     5
2     2     5
3     3     2
4     4     2    col1  col2
1     1     2
2     2     5
0     2     5
3     3     2
4     4     2

#### Missing Values

In [14]:



import numpy as np

In [15]:
unsorted_df_3 = pd.DataFrame({'col1': ['a','b','c','d','e','f','g','h'], 'col2': [5,5,2,3,2,3,np.nan,1]})

In [16]:
unsorted_df_3

  col1  col2
0    a   5.0
1    b   5.0
2    c   2.0
3    d   3.0
4    e   2.0
5    f   3.0
6    g   NaN
7    h   1.0

In [18]:
sorted_df10 = unsorted_df_3.sort_values(by = 'col2')

In [19]:
sorted_df10

  col1  col2
7    h   1.0
2    c   2.0
4    e   2.0
3    d   3.0
5    f   3.0
0    a   5.0
1    b   5.0
6    g   NaN

In [20]:
# By default missing values are listed at the end

In [22]:
# When we assign a value 'first' to na_position argument NaN values are listed first

In [23]:
sorted_df11 = unsorted_df_3.sort_values(by = 'col2', na_position = 'first')

In [24]:
sorted_df11

  col1  col2
6    g   NaN
7    h   1.0
2    c   2.0
4    e   2.0
3    d   3.0
5    f   3.0
0    a   5.0
1    b   5.0